.cardContainer {
  margin: 0 10 0 10;
  padding: 10;
  border: 0.2px;
  border-color: rgba(0, 0, 0, 0.395);
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transition: 0.3s ease;
}

.cardContainer:hover {
  transform: translatey(-3px);
  cursor: pointer;
}