.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 12px;
  width: 50%;
  font-size: 22;
}


.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 6px;
}

.form textarea {
  min-height: 100px;
}

.formMessageInput {
  min-height: 250px;
 
}

.form button {
  padding: 10px;
  background: #270570;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 300px;
}

.form button:hover {
  background: #550fed;
}